@import "../../assets/scss/_theme.scss";

.container {
  @extend .container-full-width;

  max-width: $max-width;
}

.container-full-width {
  background-color: $color-primary;
  margin: 0 auto;
  padding: $padding;
  width: 100%;
}
